.custom-select {
    position: relative;
    font-family: Arial;
    width: 200px !important; 
    line-height: 1;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #ccc;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-items div {
    color: dodgerblue !important;
}
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  .lscont .btn {
      background-color: #2196F3;
      padding: 15px 50px;
      border-radius: 12px;
      font-family: Arial;
      color: #ddd;
      border: 1px solid #ccc;
      font-weight: 600;
      cursor: pointer;
  }
  .lscont .btn:hover {
      background-color: #0c4e83;
      color: #aaa;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .container {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    font-family: Arial;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .rowlabel {
    font-family: Arial;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .chkinput{
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .radiocheckmark  {
    border-radius: 50%;
    }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
  }
  .chkboxafter:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 10px;
    top: 5px;
  }
  
  .radioafter:after {
      top: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .flexrow > div {
      display: flex;
      height: 50px;
      align-items: center;
      line-height: 1.7;
  }
  .flexrow > div > label.lbl, .flexrow > div > div.lbl {
      width: 30%;
      max-width: 30%;
      padding: 0 10px;
  }
  .flexrow > div > label.cnt, .flexrow > div > div.cnt {
    width: 70%;
    max-width: 70%;
    padding: 0 10px;
}

.flexst {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexst > label {
    margin: 0;
}
.lscont{
    justify-content: center;
}